input[type="range"]{
width:450px;
}
span{word-break:normal; width:auto; white-space:pre-wrap;word-wrap : break-word ;overflow: hidden;}  


/*.arcs:hover*/
#mySVG path.arcsblue:hover{
    /*pointer-events: none;*/
    stroke: #7CFC00; /*lightgreen;*/
    stroke-width:1;
    /*transition: all 0.25s ease-out;
    cursor: pointer;
    fill: green;
    color: yellow;*/
}

#mySVG path.arcsred:hover{
    /*stroke: #7CFC00;*/ /*lightgreen;*/
    stroke-width:1;
}

#mySVG path.arcsLightGray:hover{
    stroke:grey;
    stroke-width:1;
}
/*
#mySVG path:hover{
    stroke: #7CFC00; //lightgreen;
    stroke-width:3;
}*/

/*svg .titles:hover{*/
#mySVG text:hover{    
    cursor: pointer;
    fill: red;
}


#circleLegend{
    position:absolute;
    left:280px;
    width: 650px;
    height: 20px;
    border: 1px solid gray;
}


div.scale_botton_411{
    position: absolute;
    /*try relative?
    top: 170px;
    left: 1450px;
    top: 80%;*/
    top: 178px;
    left: 1520px;
    width: 380px;
    /*height: 20px;*/
}

div.scale_botton_421{
    position: absolute;
    /*top: 800px;
    left: 1450px;*/
    top: 798px;
    left: 1520px;
    width: 380px;
    /*height: 40px;*/
}


div.absolute411 {
    position: absolute;
    top: 170px;
    left: 1120px;
    width: 700px;
    height: 300px;
}
div.absolute412 {
    position: absolute;
    top: 470px;
    left: 1120px;
    width: 700px;
    height: 300px;    
}


div.absolute421 {
    position: absolute;
    top: 790px;
    left: 1120px;
    width: 700px;
    height: 300px;
}
div.absolute422 {
    position: absolute;
    top: 1090px;
    left: 1120px;
    width: 700px;
    height: 300px;
}

