
/****** CODE ******/

body{
    //background-color: #eff0f2;
    width: 1200px;
}
#pageTitle{
    position: absolute;
    background-color: #3bbee2;
    //min-width: 500px;
    width: 1200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    color: white;
    padding: 12px; 
    font-size: 20px;
    font-family: arial;
    border: none;
}

fieldset.bigfield{
    //background-color:#CCC;
    background-color:#eff0f2;
    //max-width:70%;
    padding:16px;	
    border:2px solid #3bbee2;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;	
    border-radius:8px;	

}
.file-upload{display:block;text-align:center;font-family: Helvetica, Arial, sans-serif;font-size: 12px;width: 25%; }
.file-upload .file-select{display:block;border: 2px solid #dce4ec;color: #34495e;cursor:pointer;height:30px;line-height:30px;text-align:left;background:#FFFFFF;overflow:hidden;position:relative;}
.file-upload .file-select .file-select-button{background:#dce4ec;padding:0 10px;display:inline-block;height:30px;line-height:30px;}
.file-upload .file-select .file-select-name{line-height:30px;display:inline-block;padding:0 10px;}
.file-upload .file-select:hover{border-color:#34495e;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload .file-select:hover .file-select-button{background:#34495e;color:#FFFFFF;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload.active .file-select{border-color:#4CAF50;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload.active .file-select .file-select-button{background:#4CAF50;color:#FFFFFF;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload .file-select input[type=file]{z-index:100;cursor:pointer;position:absolute;height:100%;width:1000%;top:0;left:0;opacity:0;filter:alpha(opacity=0);}


input[type=submit] {
	/*background: #B9DFFF;*/
	background: #3bbee2;
	color: #fff;
	padding: 10px 20px;
	border: 1px solid #eee;
	border-radius: 10px;
	box-shadow: 5px 5px 5px #eee;
	text-shadow:none;
	font-size: 16px;
}


#jumpBtn{
    background: #3bbee2;
    border: none;
    border-radius: 8px;
    box-shadow: 5px 5px 5px #eee;
    color: white;
    padding: 10px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}


input[type=submit]:hover, #jumpBtn:hover {
	background: #4CAF50;
}


.coloredSeq {
	color:red;
	font-size:110%;
} 
/*
.file-upload .file-select.file-select-disabled{opacity:0.65;}
.file-upload .file-select.file-select-disabled:hover{cursor:default;display:block;border: 2px solid #dce4ec;color: #34495e;cursor:pointer;height:30px;line-height:30px;margin-top:5px;text-align:left;background:#FFFFFF;overflow:hidden;position:relative;}
.file-upload .file-select.file-select-disabled:hover .file-select-button{background:#dce4ec;color:#666666;padding:0 10px;display:inline-block;height:30px;line-height:30px;}
.file-upload .file-select.file-select-disabled:hover .file-select-name{line-height:30px;display:inline-block;padding:0 10px;}
*/
/*
div.dropdown-sample{
    position: relative;
    left: 864px;
}
*/
.dropbtn-sample {
    background-color: #4CAF50;
    color: white;
    padding: 2px; 
    font-size: 16px;
    border: none;
}

.dropdown-sample {
    position: relative;
    display: inline-block;
}

.dropdown-sample-content {
    display: none;
    position: absolute;
    //background-color: #f1f1f1;
    background-color: #ddd;
    min-width: 500px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-sample-content span {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-sample-content span:hover {
    //background-color: #ddd;
    //background-color: #d1e0eb;
    background-color: #A9A9A9;
    cursor:pointer;
}

.dropdown-sample:hover .dropdown-sample-content {
    display: block;
}

.dropdown-sample:hover .dropbtn-sample {
    background-color: #3e8e41;
}

#loadingIMG{
    position: relative;
    left:200px;
}
#LiangGroup{
    position: relative;
    top: 40px;
}

#other{
    position: relative;
    top: 40px;
}



#mapdiv{
    width:500px;
}
