<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>web demo for RNA pairing by lrushx(Kaibo)</title>
<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<link rel="stylesheet" type="text/css" href="../static/css/demo_input_seq.css">
</head>

<body>

<script src="../static/js/demo_input_seq.js"></script>


<p id="demo">Here is the result </small> </p>



<p>Sequence demostrated: <span id="seqEcho" style="color:red;font-size:130%;">No input</span></p>
<p>Beam Size: <span id="beamEcho" style="color:red;font-size:130%;">Not given</span></p>
<p>LinearFold-C: <span id="timeLCEcho" style="color:red;font-size:120%;">Not given</span>s</p>
<p>LinearFold-V: <span id="timeLVEcho" style="color:red;font-size:120%;">Not given</span>s</p>
<!-- canvas with red border -->
<!--
<canvas id="myCanvas" width="1200px" height="1200px" style="border: 1px solid red;">
Your browser doesn't support canvas tag.
</canvas>
-->

<!--
<div id="chart_div_412" class="absolute412"></div>
<div id="chart_div_411" class="absolute411"></div>
<div id="chart_div_422" class="absolute422"></div>
<div id="chart_div_421" class="absolute421"></div>

<div  class="scale_botton_411"><button id="change_chart_411"></button></div>
<div  class="scale_botton_421"><button id="change_chart_421"></button></div>
-->

<canvas id="myCanvas" width="1200px" height="1200px">
Your browser doesn't support canvas tag.
</canvas>


<p><span id="seqStr"></span> </p>
<!--
<p><span id="ref"></span> </p>
<p><span id="cf"></span> </p>
<p><span id="vn"></span> </p>
-->
<p><span id="lcf"></span> </p>
<p><span id="lvn"></span> </p>


</body>
</html>
