<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>web demo for RNA pairing by lrushx(Kaibo)</title>
<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<link rel="stylesheet" type="text/css" href="../static/css/showCircle.css">
</head>

<body>
<div id="pageTitle">LinearFold Web Server (beta)</div>
<br><br><br><br>

<a class="jumpLink" href="http://linearfoldtest.eecs.oregonstate.edu:8080" style="font-size:130%;"> &nbsp; back to homepage&nbsp; </a>
<!--<p id="demo">Here is the result </small> </p>-->
<p>Sequence name: <span id="nameEcho" style="color:red;font-size:120%;"></span></p>
<p>Beam Size: <span id="beamEcho" style="color:red;font-size:120%;"></span> &nbsp;&nbsp;&nbsp;
   LinearFold-C: <span id="timeLCEcho" style="color:red;font-size:100%;">Not given</span>s&nbsp;&nbsp;&nbsp;
   LinearFold-V: <span id="timeLVEcho" style="color:red;font-size:100%;">Not given</span>s
   &nbsp;&nbsp;&nbsp;Total time: <span style="color:red;font-size:100%;">{{total_time}}</span>s
</p>
<!--
<p>Beam Size: <span id="beamEcho" style="color:red;font-size:120%;"></span></p>
<p>LinearFold-C: <span id="timeLCEcho" style="color:red;font-size:100%;">Not given</span>s</p>
<p>LinearFold-V: <span id="timeLVEcho" style="color:red;font-size:100%;">Not given</span>s</p>
-->

<!--
<p>Sequence name: <span id="nameEcho" style="color:red;font-size:130%;">{{seq}}</span></p>
<p>Beam Size: <span id="beamEcho" style="color:red;font-size:130%;">{{beamsize}}</span></p>
<p>LinearFold-C: <span id="lcEcho" style="color:red;font-size:120%;">{{lc}}</span></p>
<p>LinearFold-V: <span id="lvEcho" style="color:red;font-size:120%;">{{lv}}</span></p>
<p id='info'></p>
-->


<svg version="1.1" id="mySVG" width="1700" height="600"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
<!--<svg id="mySVG" viewBox="0 0 500 1200"  xmlns="http://www.w3.org/2000/svg">-->
  Your browser doesn't support svg tag.
</svg>

<p>
  <span id='fornaInfo'></span>
  <a id='fornalink1' class="jumpLink" href="" target="_blank"></a>
  &nbsp;&nbsp; 
  <a id='fornalink2' class="jumpLink" href="" target="_blank"></a>
</p>


<div id='forna'> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<!--
<iframe id='forna1' src="about:blank" height="600" width="40%" onload="setFocus()"></iframe>&nbsp;&nbsp;
<iframe id='forna2' src="about:blank" height="600" width="40%" onload="setFocus()"></iframe>
-->
<iframe id='forna1' src="about:blank" height="500" width="40%"></iframe> &nbsp;&nbsp;
<iframe id='forna2' src="about:blank" height="500" width="40%"></iframe>
</div>

<p><span id="seq0" style="color:#3bbee2;"></span><button id="btn_copy_seq" onclick="cp_seq()"></button><br>
  <span id="seq" class="res" style="color:#2ca02c;"></span> </p>
<p><span id="lcf0" style="color:#3bbee2;"></span><button id="btn_copy_lcf" onclick="cp_lcf()"></button><br>
  <span id="lcf" class="res" style="color:#2ca02c;"></span> </p>
<p><span id="lvn0" style="color:#3bbee2;"></span><button id="btn_copy_lvn" onclick="cp_lvn()"></button><br>
  <span id="lvn" class="res" style="color:#2ca02c;"></span> </p>


<div class="tooltipbox"></div>

<p id='path' hidden>{{pairingRes}}</p>
<p id='time' hidden>{{total_time}}</p>




<script src="./static/js/demo_tooltips.js"></script>
<script src="../static/js/showCircle.js"></script>

</body>
</html>
